body {
    font-family: 'Poppins', sans-serif;
    background: #e9e9e9;
    color: #010b26;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #6ABCEA;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    background: #13191d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header__input {
    width: 90%;
    padding: 1rem 0.6rem;
    border-radius: 8px;
    font-size: 1.2rem;
}

.header__signUp {
    text-align: center;
    margin: 1rem;
    font-size: 0.8rem;
}

.sub {
    margin: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-view {
    background: #fff;
    max-width: 35rem;
    margin: 0.5rem;
    border-radius: 10px;
    display: inline-block;
}

.card-view:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card {
    width: 35rem;
    height: 50rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.card__image {
    position: relative;
    background-size: cover
}

.card__playIcon {
    width: 100%;
    height: 40rem;
    line-height: 40rem;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 20px #6abcea, 0 5px 20px #6ABCEA;
    opacity: 0.9;
}

.card__playIcon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 5rem;
    text-shadow: 0 0 20px #6abcea, 0 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}

.card__content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}

.card__content--head,
.card__content--info {
    display: flex;
    justify-content: space-between;
}

.card__content--title {
    font-size: 1.5rem;
    color: #010b26;
    margin: 0;
    display: table-cell;
}

.card__content--rate {
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 0.5rem;
    font-weight: 700;
}

.card__content--rate span {
    color: #2196F3;
}

.card__content--info {
    margin-top: 1rem;
}

.movie-lastUpdate {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.movie-lastUpdate:first-of-type {
    text-align: left;
}

.movie-lastUpdate:last-of-type {
    text-align: right;
}

.movie-lastUpdate label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.movie-lastUpdate span {
    font-weight: 700;
    font-size: 0.8rem;
}

@media screen and (max-width: 425px) {
    .header{
        margin: 0.1rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .sub{
        margin: 0.1rem;
    }
    .header__input {
        width: 50%;
        padding: 0.2rem 0.3rem;
        font-size: 0.6rem;
    }

    .card-view {
        max-width: 20rem;
        margin: 1rem;
    }

    .card {
        width: 20rem;
        height: 40rem;
    }

    .card__image {
        width: 20rem;
        height: 30rem;
        align-items: center;
        background-position: center;
    }

    .card__content--title {
        font-size: 1rem;
    }

    .movie-lastUpdate label {
        font-size: 0.5rem;
    }
}